<!DOCTYPE html>
<html>
<head>
    <!-- Your head content goes here -->
</head>
<body>
    <main>
        <div>
            <h1>Create a new list</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>
</html>

{% comment %} <!DOCTYPE html>
<html>
<head>
    <!-- Your head content goes here -->
</head>
<body>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="task" placeholder="Task" required>
                <input type="text" name="due_date" placeholder="Due date" required>
                <input type="checkbox" name="is_completed"> Completed
                <select name="list" required>
                    <!-- Add options for selecting the to-do list -->
                </select>
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>
</html> {% endcomment %}
