{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <header>
        <nav>
            {% comment %} <a href="">Example</a> {% endcomment %}
            {% comment %} <a href="">Example</a> {% endcomment %}
        </nav>
    </header>
    <main>
        <div>
            <h1>My lists</h1>
            <p><a href="{% url 'todo_list_create' %}">Create a new list</a></p>
            <p><a href="{% url 'todo_item_create' %}">Create a new item</a></p>
            <table>
            <tr>
                <th>Name</th>
                <th>Number of items</th>
            </tr>
            {% for todo_list in todo_lists %}
            <tr>
                <td><a href="{% url 'todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a></td>
                <td>{{ todo_list.items.count }}</td>
            </tr>
                {% endfor %}
        </table>
        </div>
    </main>
</body>
</html>
